
@{
    ViewBag.Title = "Create";
}
<style>
    .form-control{

    }
</style>

<h2>Create</h2>


@*@using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                }
    <div class="form-horizontal">
        <h4>employee_salary_details</h4>
        <hr />
        @Html.ValidationSummary(true,"",new string { @class = "text-danger"})
        <div class="col-md-10">
            <input type="text" name="employee_id" class="form-control" />
            @Html.ValidationMessageFor(modeel.employee_id,"", new {@class =})
        </div>
    </div>*@


<h2>Create</h2>
@using (Html.BeginForm("SaveData", "EmployeeSalaryDetails", FormMethod.Post))
{
    <label>EmployeeId:</label>
    <div>
       
        @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new { @Name = "employee_id" })
    </div>
    <label>Salary Paid:</label>
    <div>
        <input type="text" name="salary_paid" class="form-control">
    </div>
    <label>Paid Date:</label>
    <div>
        <input type="date" name="paid_date" class="form-control">
    </div>

    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
}