@model Test1.Models.tab_1

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("UpdateData", "Employee"))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <label>Name:</label>
    <div>
        <input type="text" name="name" class="form-control">
    </div>
    <label>Address:</label>
    <div>
        <input type="text" name="address" class="form-control">
    </div>
    <label>Contact:</label>
    <div>
        <input type="text" name="contact" class="form-control">
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
}

