
@{
    ViewBag.Title = "EmpView";
}
<style>
    table,th,td{
        border:2px solid;
        background-color:red;
        font-size:12px;

    }
</style>
<h2>EmpView</h2>

<p> Welcome</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Kushal</td>
        <td>Bit</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Panday</td>
        <td>Bit</td>
    </tr>
</table>